body {
    margin: 0;
    padding: 0;
}

.title {
    font-family: 'Times New Roman', Times, serif;
}

.link:hover {
    color: #eca63d;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    background: url(../img/bg.jpg) bottom no-repeat;
    background-size: cover;
}

.header__title {
    color: #ffebcc;
    font-size: 4rem;
}

.footer {
    padding: 20px 0 60px;
    text-align: center;
}

.lower-menu {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

    list-style-type: none;
}

.lower-menu__item > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.copyright {
    color: rgb(108, 117, 125);
    font-family: 'Times New Roman', Times, serif;
}

.news {
    padding: 50px 0 32px;
}

.news-list {
    padding: 0;
    list-style-type: none;
}

.news-list__item {
    margin: 0 auto 32px;
}

.news-list__item:nth-child(-n + 2) .art__title::before {
    content: "new";
    margin-right: 8px;
    font-size: 13px;
    color: #eca63d;
}

.news-list__item:nth-child(even) .art {
    background-color: rgb(245, 245, 245);
}

.art {
    width: 768px;
    margin: 0 auto;
    padding: 6px 15px;
    border-bottom: 1px solid rgb(108, 117, 125);
}

.art__link {
    text-decoration: none;
    color: black;
}

.art__link--author {
    font-weight: bold;

}

.art__title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 5px;
}

.art__meta {
    opacity: 0.7;
}

.art__image {
    width: 100%;
    height: 300px;
    object-fit: cover;
}